.nav-scrolled-background{
    background-color: rgb(255, 255, 255);
}
.nav-text{
    color: #ffffff;
    font-size: 40px;
}
.nav-scrolled-text{
    color: rgb(0, 0, 0);
    font-size: 40px;
}
.navigation{
    transition: all 0.5s;
    height: 100px;
}

.card > div:nth-child(odd) {
    background-color: #f1f1f1;
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 300px;
    line-height: 100px;
}
.card > div:nth-child(even) {
    background-color: #ffffff;
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 300px;
    line-height: 100px;
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 25px;
}

.btn-style {
    background-color: rgb(95, 149, 207);
    padding: 20px 50px;
    border-radius: 0px;
    border: none;
}
